In [3]:
import numpy as np;
import pandas as pd;
from apyori import apriori;

In [4]:
data = pd.read_csv('p7.csv');
data.head()

   a  c    d Unnamed: 3
0  b  c    e        NaN
1  a  b    c          e
2  b  e  NaN        NaN

In [5]:
data.shape

(3, 4)

In [6]:
data = pd.read_csv('p7.csv',header=None);
data.head()

   0  1    2    3
0  a  c    d  NaN
1  b  c    e  NaN
2  a  b    c    e
3  b  e  NaN  NaN

In [7]:
data.shape

(4, 4)

In [8]:
records = [];
for i in range(0, 4):  
    records.append([str(data.values[i,j]) for j in range(0, 4)]);
association_rules = apriori(records, min_support=0.0050, min_confidence=0.3, min_lift=2,  min_length=2);
association_results = list(association_rules);

In [9]:
for item in association_results:
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    print("Support: " + str(item[1]))
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: d -> a
Support: 0.25
Confidence: 0.5
Lift: 2.0
=====================================
Rule: c -> d
Support: 0.25
Confidence: 0.5
Lift: 2.0
=====================================
Rule: d -> nan
Support: 0.25
Confidence: 1.0
Lift: 4.0
=====================================
Rule: d -> nan
Support: 0.25
Confidence: 0.5
Lift: 2.0
=====================================
Rule: c -> d
Support: 0.25
Confidence: 1.0
Lift: 4.0
=====================================

In [10]:
print(len(association_results));

5